@use "@/styles/mixins" as *;

.row {
	display: flex;
	align-items: center;
	gap: var(--space-sm);
}

.wrapper {
	position: relative;
	display: flex;
	flex: 1 0 auto;
	min-width: calc(var(--drp-ui-width-xs, var(--ui-width-xs)) - var(--width-add));
}

.input {
	width: 100%;
	margin: 0;
	padding: 0;
	appearance: none;
	cursor: pointer;

	&:checked + .track {
		.thumb {
			transform: translateX(100%);
		}

		.unchecked {
			color: var(--content-2);
		}

		.checked {
			color: var(--status-info-on-fill);
		}
	}

	&:focus-visible + .track {
		@include focusVisible;
	}
}

.track {
	.unchecked {
		color: var(--status-info-on-fill);
	}

	.checked {
		color: var(--content-2);
	}

	position: absolute;
	inset: calc(var(--border-width) * 2);
	pointer-events: none;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	align-items: center;
	min-width: 6.5em;
	padding: 0;
	overflow: hidden;

	&[data-disabled] {
		.thumb {
			opacity: var(--disabled-opacity);
		}
	}
}

.option {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 var(--space-sm);
	line-height: 1;
	white-space: nowrap;
	user-select: none;
	pointer-events: none;
	position: relative;
	z-index: 1;
	transition: color var(--transition-fast) linear;
}

.thumb {
	position: absolute;
	top: 0; // var(--border-width);
	left: 0; //var(--border-width);
	width: 50%; // calc(50% - var(--border-width));
	height: 100%; // calc(100% - var(--border-width) * 2);
	border-radius: var(--radius-xs);
	background-color: var(--status-info-fill);
	transition:
		transform var(--transition-fast) ease-in-out,
		opacity var(--transition-fast) ease-in-out;
}
