@use "@/styles/mixins" as *;

.multiSelect {
	// Общий контейнер
	padding: 0;
}

.optionCheckBox {
	display: inline-flex;
	flex-shrink: 0;

	--check-box-control-size: auto;
	padding-left: var(--space-sm);
}
