@use "@/styles/mixins" as *;

.multiSelect {
	// Общий контейнер
	padding: 0;
}

.multiSelectTokens {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	height: calc(100% - var(--space-sm));
	width: calc(var(--base-width, 100%) - (var(--control-height) * 2) - var(--space-md));

	pointer-events: none;
	// overflow: hidden;

	&:empty {
		display: none;
	}
}

.multiSelectToken {
	// font-size: var(--font-size-sm);

	// flex: 1 1 0%;
	// min-width: 0;
	max-width: 100%;

	overflow: hidden;
	white-space: nowrap;
	word-break: normal;
	text-overflow: ellipsis;

	pointer-events: none;
}
