.tabsContainer {
	--tabs-border: var(--border);
	--tabs-panel-padding: var(--space-md);

	display: grid;
	min-width: 0;
	min-height: 0;
	height: 100%;
	overflow: hidden;
	border: var(--tabs-border);
	border-radius: var(--radius-md);

	&.clean {
		--tabs-border: none;
		--tabs-panel-padding: 0;
	}
}

.tabsWrapper {
	background-color: var(--surface-1);
}

.tabs {
	display: flex;
	min-width: 0;
	padding: var(--space-sm);
}

.panels {
	min-width: 0;
	min-height: 0;
}

.horizontal {
	grid-template-rows: auto minmax(0, 1fr);

	.tabsWrapper {
		border-bottom: var(--border);
	}

	// .tab {
	// 	border-top-left-radius: var(--radius-sm);
	// 	border-top-right-radius: var(--radius-sm);
	// 	border-bottom: var(--focus-width) solid var(--decoration-color);
	// }
}

.vertical {
	grid-template-columns: 10em minmax(0, 1fr);
	min-height: 0;

	.tabsWrapper {
		border-right: var(--border);
	}

	// .tab {
	// 	border-top-left-radius: var(--radius-sm);
	// 	border-bottom-left-radius: var(--radius-sm);
	// 	border-right: var(--focus-width) solid var(--decoration-color);
	// }

	.tabs {
		flex-direction: column;

		border-top-left-radius: var(--radius-sm);
		border-bottom-left-radius: var(--radius-sm);
	}

	.panels {
		border-left: none;

		border-top-right-radius: var(--radius-sm);
		border-bottom-right-radius: var(--radius-sm);
	}

	// .tab {
	// 	&::before {
	// 		content: "";
	// 		position: absolute;
	// 		top: 0;
	// 		bottom: 0;
	// 		right: 0;
	// 		border-right: var(--focus-width) solid var(--decoration-color);
	// 	}
	// }
}

.panelScrollable {
	overflow: auto;
}

.tab {
	text-align: left;

	position: relative;
	min-height: var(--control-height);
	padding: var(--space-xs) var(--space-md);
	color: var(--content-1);
	border-radius: var(--radius-sm);
	font-weight: 700;
	font-variation-settings: "wght" 700;

	flex-shrink: 0;

	&:hover {
		cursor: pointer;
		color: var(--accent-text);
		background-color: var(--accent-fill-hover);
	}

	&.selected {
		color: var(--brand-text);
		// color: var(--content-0);
		background-color: var(--accent-fill);
	}

	&:disabled {
		cursor: not-allowed;
		color: var(--content-2);
		// background-color: var(--surface-2);
	}
}

.panel {
	padding: 0;
	min-width: 0;
	min-height: 0;
	height: 100%;
}

.panelBody {
	min-width: 0;
	min-height: 0;

	height: 100%;
	padding: var(--tabs-panel-padding);
}

.layoutPanels {
	overflow: hidden;
}

.layoutPanel {
	display: grid;
	gap: var(--space-md);
	min-width: 0;
	min-height: 0;
	height: 100%;
	padding: var(--tabs-panel-padding);
}

.layoutSection {
	min-width: 0;
}

.layoutContent {
	min-height: 0;
}
