@use "@/styles/mixins" as *;

.segmentInput {
	border: none;
	border-radius: var(--radius-xs);
	background: transparent;
	outline: none;
	padding: 0;
	margin: 0;
	font-family: var(--font-family-mono);
	color: inherit;
	text-align: center;
	caret-color: var(--content-0);
	font-variant-numeric: tabular-nums;

	&::placeholder {
		color: var(--content-2);
		// font-size: var(--font-size-sm);
	}

	&::selection {
		background-color: var(--focus-ring);
		color: var(--surface-0);
	}

	&:disabled {
		opacity: 0.25;
	}
}

.separator {
	user-select: none;
	color: var(--content-1);
	flex-shrink: 0;

	&[data-disabled] {
		opacity: 0.25;
	}
}

.calendarButton {
	&:hover {
		color: var(--focus-ring);
	}
}

.popoverContent {
	display: grid;
	gap: var(--space-md);
}

.bottom {
	grid-template-columns: minmax(0, 1fr);
}

.right {
	grid-template-columns: auto calc(9em + var(--width-add));
	align-items: stretch;
}

.calendarPane {
	min-width: 0;
}

.timePanelPane {
	min-width: 0;
}

.timeOnlyPopoverContent {
	min-width: calc(9em + var(--width-add));
}

.timePanelPaneBottom {
	padding-top: var(--space-md);
	border-top: var(--border);
}

.timePanelPaneRight {
	padding-left: var(--space-md);
	border-left: var(--border);
}
