.interactiveSurface {
	--c: inherit;
	--s: transparent;
	--b: transparent;

	--ch: var(--accent-text-hover);
	--sh: var(--accent-fill-hover);
	--bh: var(--accent-border-hover);

	--ca: var(--accent-text-active);
	--sa: var(--accent-fill-active);
	--ba: var(--accent-border-active);

	--cs: var(--accent-on-fill);
	--ss: var(--accent-fill);
	--bs: var(--accent-border);

	// color: var(--c);
	// background-color: var(--s);

	// &.interactiveSurfaceFrame {
	// 	border-color: var(--b);
	// }
}

@media (any-hover: hover) {
	.interactiveSurface:not(:disabled, [aria-disabled="true"], [data-disabled="true"]):hover {
		color: var(--ch);
		background-color: var(--sh);

		&.interactiveSurfaceFrame {
			border-color: var(--bh);
		}
	}
}

.interactiveSurface:not(:disabled, [aria-disabled="true"], [data-disabled="true"]):active {
	color: var(--ca);
	background-color: var(--sa);

	&.interactiveSurfaceFrame {
		border-color: var(--ba);
	}
}

.interactiveSurface[data-selected="true"] {
	color: var(--cs);
	background-color: var(--ss);

	&.interactiveSurfaceFrame {
		border-color: var(--bs);
	}
}

.interactiveSurface:disabled,
.interactiveSurface[aria-disabled="true"],
.interactiveSurface[data-disabled="true"] {
	cursor: default;
	pointer-events: none;

	color: var(--content-2);
	background-color: var(--surface-2);

	&.interactiveSurfaceFrame {
		border-color: var(--overlay-backdrop);
	}
}
