@media (any-hover: hover) {
	.interactiveSurface:not(:disabled, [aria-disabled="true"], [data-disabled="true"]):hover {
		color: var(--selection-text);
		background-color: var(--selection-bg-hover);
	}
}

.interactiveSurface[data-selected="true"] {
	color: var(--selection-text);
	background-color: var(--selection-bg);

	&.interactiveSurfaceFrame {
		border-color: var(--selection-border);
	}
}

.interactiveSurface:disabled,
.interactiveSurface[aria-disabled="true"],
.interactiveSurface[data-disabled="true"] {
	cursor: default;
	pointer-events: none;

	color: var(--text-disabled);
	background-color: var(--bg-disabled);

	&.interactiveSurfaceFrame {
		border-color: transparent;
	}
}
