// ALIGN ITEMS

// TODO: unused
.alignItemsStart {
	align-items: start;
}
.alignItemsCenter {
	align-items: center;
}
.alignItemsEnd {
	align-items: end;
}
// TODO: unused
.alignItemsStretch {
	align-items: stretch;
}
// TODO: unused
.alignItemsBaseline {
	align-items: baseline;
}

// JUSTIFY ITEMS

// TODO: unused
.justifyItemsStart {
	justify-items: start;
}
// TODO: unused
.justifyItemsCenter {
	justify-items: center;
}
.justifyItemsEnd {
	justify-items: end;
}
// TODO: unused
.justifyItemsStretch {
	justify-items: stretch;
}

// ALIGN CONTENT

.alignContentStart {
	align-content: start;
}
.alignContentCenter {
	align-content: center;
}
.alignContentEnd {
	align-content: end;
}
.alignContentStretch {
	align-content: stretch;
}
.alignContentBetween {
	align-content: space-between;
}
.alignContentAround {
	align-content: space-around;
}
.alignContentEvenly {
	align-content: space-evenly;
}

// JUSTIFY CONTENT

.justifyContentStart {
	justify-content: start;
}
.justifyContentCenter {
	justify-content: center;
}
.justifyContentEnd {
	justify-content: end;
}
.justifyContentStretch {
	justify-content: stretch;
}
.justifyContentBetween {
	justify-content: space-between;
}
.justifyContentAround {
	justify-content: space-around;
}
.justifyContentEvenly {
	justify-content: space-evenly;
}

.justifySelfCenter {
	justify-self: center;
}
.justifySelfEnd {
	justify-self: end;
}
.justifySelfStretch {
	justify-self: stretch;
}
