// BORDER

.border {
	border: var(--border);
}

.borderTop {
	border-top: var(--border);
}
.borderBottom {
	border-bottom: var(--border);
}
.borderLeft {
	border-left: var(--border);
}
.borderRight {
	border-right: var(--border);
}

// TODO: unused
.radiusXs {
	border-radius: var(--radius-xs);
}
.radiusSm {
	border-radius: var(--radius-sm);
}
.radiusMd {
	border-radius: var(--radius-md);
}
.radiusLg {
	border-radius: var(--radius-lg);
}
// TODO: unused
.radiusXl {
	border-radius: var(--radius-xl);
}

.separator {
	border-top: var(--border);
}

.separatorVertical {
	border-left: var(--border);
	height: 100%;
	min-height: 1em;
}
