.flex {
	display: flex;
}

.flexWrap {
	@extend .flex;
	flex-wrap: wrap;
}

.flexWrapReverse {
	@extend .flex;
	flex-wrap: wrap-reverse;
}

.flexColumn {
	@extend .flex;
	flex-direction: column;
}

.flexColumnReverse {
	@extend .flex;
	flex-direction: column-reverse;
}

.flexBasisAuto {
	flex-basis: auto;
}

.flexGrow0 {
	flex-grow: 0;
}

.flexGrow1 {
	flex-grow: 1;
}

.flexShrink0 {
	flex-shrink: 0;
}

.flexShrink1 {
	flex-shrink: 1;
}

.flex0 {
	@extend .flexGrow0;
	@extend .flexShrink0;
	@extend .flexBasisAuto;
}

.flex1 {
	@extend .flexGrow1;
	@extend .flexShrink1;
	@extend .flexBasisAuto;
}

.flexCenter {
	@extend .flex;
	align-items: center;
	justify-content: center;
}

.flexCenterBetween {
	@extend .flex;
	align-items: center;
	justify-content: space-between;
}
