@use "./mixins" as *;

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.block {
	display: block;
}
.inline {
	display: inline;
}
.inlineBlock {
	display: inline-block;
}
.hidden {
	display: none;
}

@include mobile {
	.hiddenMobile {
		display: none;
	}
}

.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.sticky {
	position: sticky;
}

.stickyTop {
	@extend .sticky;
	top: 0;
}

.inset0 {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.bottomLeft {
	bottom: 0;
	left: 0;
}

.bottomRight {
	bottom: 0;
	right: 0;
}

.topLeft {
	top: 0;
	left: 0;
}

.topRight {
	top: 0;
	right: 0;
}
