@use "@/styles/mixins" as *;

.radioGroup {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	// min-height: var(--control-height);
	height: auto;

	&.noWrap {
		flex-wrap: nowrap;
	}

	&.horizontal {
		flex-direction: row;
	}

	&.vertical {
		flex-direction: column;
		align-content: stretch;
	}
}

.radioItem {
	flex: 1 0 0%;

	display: flex;
	align-items: center;
	gap: var(--space-sm);

	color: var(--text-muted);
	border-radius: var(--radius-xs);
	padding: 0 var(--space-md);
	margin: var(--border-width);
	// baseInputControl = --control-height, + borderTop/Bottom + transparentLineTop/Bottom
	min-height: calc(var(--control-height) - calc(var(--border-width) * 4));

	cursor: pointer;

	&:enabled {
		@include hover(false, false) {
			background-color: var(--bg-hover);
			color: var(--text-secondary);
		}

		&:active {
			background-color: var(--bg-pressed);
			color: var(--text-secondary);
		}
	}

	&.checked {
		color: var(--selection-text);
		background-color: var(--selection-bg);

		&:enabled {
			@include hover(false, false) {
				background-color: var(--selection-bg-hover);
				color: var(--selection-text-hover);
			}

			&:active {
				background-color: var(--selection-bg-pressed);
				color: var(--selection-text-pressed);
			}
		}

		&:disabled {
			color: var(--selection-text-disabled);
			background-color: var(--selection-bg-disabled);
		}
	}

	&:disabled {
		color: var(--ui-disabled-color, var(--text-disabled));
		background-color: var(--ui-disabled-background, var(--bg-disabled));
	}
}

.radioItemContent {
	flex: 1 0 0%;

	display: grid;
	align-content: center;
	gap: var(--space-sm);
}
