.radioGroup {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	// min-height: var(--control-height);
	height: auto;

	&.noWrap {
		flex-wrap: nowrap;
	}

	&.horizontal {
		flex-direction: row;
	}

	&.vertical {
		flex-direction: column;
		align-content: stretch;
	}
}

.radioItem {
	flex: 1 0 0%;

	display: flex;
	align-items: center;
	gap: var(--space-sm);

	color: var(--content-2);
	// border: var(--border-width) solid transparent;
	border-radius: var(--radius-xs);
	padding: 0 var(--space-md);
	margin: var(--border-width);
	// baseInputControl = --control-height, + borderTop/Bottom + transparentLineTop/Bottom
	min-height: calc(var(--control-height) - calc(var(--border-width) * 4));

	cursor: pointer;

	&:hover {
		color: var(--content-1);
		background-color: var(--surface-2);
		// border-color: var(--border-1);
	}

	&.checked {
		color: var(--status-brand-on-fill);
		background-color: var(--status-brand-fill);
		// border-color: var(--border-0);
	}

	&:disabled {
		opacity: var(--disabled-opacity);
	}
}

.radioItemContent {
	flex: 1 0 0%;

	display: grid;
	align-content: center;
	gap: var(--space-sm);
}

.radioItemIcon {
	flex: 0 0 0%;
}
