.monthView {
	padding: 0;
}

.monthsGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--border-width);
	align-content: center;

	// min-height: calc(12em * var(--line-height));
}

.month {
	height: var(--control-height);
	cursor: pointer;
	border-radius: var(--radius-xs);
	// font-size: var(--font-size-sm);
	text-transform: capitalize;

	background-color: var(--surface-1);

	&:hover:not(.disabled) {
		background-color: var(--surface-accent);
	}

	&.range {
		background-color: var(--surface-accent);
		color: var(--content-0);
	}

	&.selected,
	&.rangeStart,
	&.rangeEnd {
		background-color: var(--surface-accent);
		color: var(--content-accent);
		font-weight: 600;
		font-variation-settings: "wght" 600;
	}

	&.disabled {
		color: var(--content-2);
		cursor: not-allowed;

		&:hover {
			background: none;
		}
	}
}
