.tooltipPanel {
	padding: var(--space-sm);
	// background-image: radial-gradient(var(--bg-canvas) 50%, var(--bg-surface) 100%);
	background-color: var(--bg-surface);
	border: var(--border-width) solid var(--border-strong);
	border-radius: var(--radius-sm);
	color: var(--text-primary);

	filter: drop-shadow(var(--shadow-popover));

	&.negative {
		--border-thin: var(--text-primary);

		background-color: var(--text-primary);
		border-color: var(--border-thin);
		color: var(--bg-surface);
	}

	&.information {
		--border-thin: var(--info-text);

		background-color: var(--info-text);
		border-color: var(--info-text);
		color: var(--info-on-fill);
	}

	&.error {
		--border-thin: var(--error-text);

		background-color: var(--error-text);
		border-color: var(--error-text);
		color: var(--error-on-fill);
	}

	&.warning {
		--border-thin: var(--warning-text);

		background-color: var(--warning-text);
		border-color: var(--warning-text);
		color: var(--warning-on-fill);
	}

	&.success {
		--border-thin: var(--success-text);

		background-color: var(--success-text);
		border-color: var(--success-text);
		color: var(--success-on-fill);
	}
}

.tooltip {
	z-index: var(--z-tooltip);
	pointer-events: none;

	text-align: initial;
	font-size: var(--font-size-sm);
	font-style: normal;
	font-weight: 500;
	font-variation-settings: "wght" 500;
	line-height: var(--line-height);

	@extend .tooltipPanel;
}
