@use "@/styles/mixins" as *;

.segmentInput {
	border: none;
	background: transparent;
	outline: none;
	padding: 0;
	margin: 0;
	font-family: var(--font-family-mono);
	color: inherit;
	text-align: center;
	caret-color: var(--text-primary);
	font-variant-numeric: tabular-nums;

	&::placeholder {
		color: var(--text-muted);
		// font-size: var(--font-size-sm);
	}

	// Remove spin buttons
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&:disabled {
		color: var(--text-disabled);

		&::placeholder {
			color: var(--text-disabled);
		}
	}
}

.separator {
	user-select: none;
	color: var(--text-muted);
	flex-shrink: 0;

	&[data-disabled] {
		color: var(--text-disabled);
	}
}
