.popover {
	padding: var(--space-sm);
	// background-image: radial-gradient(var(--bg-canvas) 50%, var(--bg-surface) 100%);

	border: var(--border-width) solid var(--border-thin);
	border-radius: var(--radius-sm);
	color: var(--text-primary);

	filter: drop-shadow(var(--shadow-popover));

	z-index: var(--z-popover);

	&.primary {
		background-color: var(--bg-surface);
	}

	&.secondary {
		background-color: var(--bg-elevated);
	}
}
