.popover {
	--floating-panel-background: var(--bg-elevated);
	--floating-panel-border: var(--border-default);

	padding: var(--space-sm);
	background-color: var(--floating-panel-background);

	border: var(--border-width) solid var(--floating-panel-border);
	border-radius: var(--radius-sm);
	color: var(--text-primary);

	box-shadow: var(--shadow-popover);

	z-index: var(--z-popover);

	&.primary {
		--floating-panel-background: var(--bg-surface);
	}

	&.secondary {
		--floating-panel-background: var(--bg-elevated);
	}
}
