@use "@/styles/mixins" as *;

.valueOverlay {
	position: absolute;
	inset: 0 calc(var(--control-height) + var(--space-xs)) 0 var(--space-sm);
	display: flex;
	align-items: center;
	gap: var(--space-sm);
	min-width: 0;
	pointer-events: none;
	overflow: hidden;
}

.triggerInput {
	--ui-color: transparent;
	--ui-color-hover: transparent;
	--ui-color-active: transparent;

	color: transparent;
	caret-color: transparent;
}

.triggerText {
	min-width: 0;
	flex: 1 1 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.popup {
	width: min(calc(100vw - var(--space-lg) * 2), 44em);
	max-height: min(75vh, 34em);
}

.popupLayout {
	max-height: inherit;
}

.popupBody {
	overflow: auto;
	padding: var(--space-xs);
}

.options {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 5em), 1fr));
	gap: var(--space-sm);
}

.option {
	position: relative;
	padding: var(--space-sm);
	// border: var(--border);
	border-radius: var(--radius-sm);
	// background-color: var(--surface-1);
	transition:
		background-color var(--transition-fast) ease,
		border-color var(--transition-fast) ease,
		color var(--transition-fast) ease;

	@include hover(true) {
		background-color: var(--surface-2);
		border-color: var(--border-2);
	}

	&:disabled {
		cursor: default;
		opacity: var(--disabled-opacity);
	}
}

.optionActive {
	background-color: var(--surface-2);
	border-color: var(--border-2);
}

.optionSelected {
	border-color: var(--border-1);
	background-color: var(--surface-1);

	.previewCell {
		background-color: var(--surface-accent);
		border: var(--border-width) solid var(--border-accent);
	}
}

.optionPreviewWrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.preview,
.previewPlaceholder {
	--layout-picker-preview-size: 3.5em;

	width: var(--layout-picker-preview-size);
	height: calc(var(--layout-picker-preview-size) * 0.72);
	flex: 0 0 auto;
}

.preview {
	display: grid;
	gap: calc(var(--border-width) * 2);
}

.previewCompact,
.previewPlaceholder {
	--layout-picker-preview-size: 1.75rem;
}

.previewCell {
	min-width: 0;
	min-height: 0;
	border-radius: var(--radius-xs);
	background-color: var(--surface-1);
	border: var(--border-width) solid var(--border-1);
}

.previewCompact {
	.previewCell {
		background-color: var(--content-1);
		border: none;
	}
}
