.stateWrapper {
	text-decoration: none;
	color: inherit;
	display: block;

	// border: var(--border-width) solid var(--state-border-color, transparent);
	border-left-style: solid;
	border-left-color: var(--state-border-color, transparent);
	border-left-width: 0.0625em; // 1px
	padding-left: 0.25em; // 4px + 1px border

	&.status {
		border-left-width: 0.3125em; // 5px
		padding-left: 0;

		&.information {
			border-left-color: var(--info-text);
		}

		&.success {
			border-left-color: var(--success-text);
		}

		&.warning {
			border-left-color: var(--warning-text);
		}

		&.error {
			border-left-color: var(--error-text);
		}
	}
}

.state {
	stroke: currentColor;

	&.information {
		color: var(--info-text);
		fill: var(--info-bg);
	}

	&.success {
		color: var(--success-text);
		fill: var(--success-bg);
	}

	&.warning {
		color: var(--warning-text);
		fill: var(--warning-bg);
	}

	&.error {
		color: var(--error-text);
		fill: var(--error-bg);
	}
}
