@use "sass:math";
@use "media" as *;

// @function fluid($max: 100, $min: 10) {
// 	$maxViewportWidth: 2560;
// 	$minViewportWidth: 390;

// 	$maxSize: math.div($max, 16);
// 	$minSize: math.div($min, 16);
// 	$maxWidth: math.div($maxViewportWidth, 16);
// 	$minWidth: math.div($minViewportWidth, 16);

// 	$slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
// 	$yAxisIntersection: -$minWidth * $slope + $minSize;

// 	@return clamp(#{$minSize * 1rem}, #{$yAxisIntersection * 1rem} + #{$slope * 100vw}, #{$maxSize * 1rem});
// }

@mixin stepped-font-var($name, $min: 14, $max: 16) {
	// @if $min < 16 {
	// 	@error "UI font-size добжен быть не менее 16px.";
	// }

	#{$name}: #{toEm($max)};

	@include laptop {
		#{$name}: #{toEm(math.max($min, $max - 1))};
	}

	@include tablet {
		#{$name}: #{toEm(math.max($min, $max - 2))};
	}

	@include mobile {
		#{$name}: #{toEm($min)};
	}
}

@mixin stepped-font($base: 16) {
	// @if $min < 16 {
	// 	@error "UI font-size добжен быть не менее 16px.";
	// }

	font-size: #{toEm($base)}; // #{toEm($max)};

	@include laptop {
		font-size: #{toEm($base)}; // #{toEm(math.max($min, $max - 1))};
	}

	@include tablet {
		font-size: #{toEm($base + 2)}; // #{toEm(math.max($min, $max - 2))};
	}

	@include mobile {
		font-size: #{toEm($base + 4)}; // #{toEm($min)};
	}
}

@mixin hide {
	opacity: 0;
	visibility: hidden;
}

@mixin srOnly {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

@mixin visuallyHidden {
	@include srOnly;
}

@mixin hover($includeFocus: false, $hashActiveEffectOnMobile: true) {
	@if ($includeFocus) {
		&:focus-visible {
			@content;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			@content;
		}
	}

	@if ($hashActiveEffectOnMobile) {
		@media (any-hover: none) {
			&:active {
				@content;
			}
		}
	}
}

@mixin focusVisible {
	outline: var(--focus-width) solid var(--focus-ring);
	outline-offset: var(--focus-offset);
}

@mixin focus-visible {
	&:focus-visible {
		@include focusVisible;
	}
}
