.row {
	display: flex;
	align-items: center;
	gap: var(--space-xs);
}

.wrapper {
	--check-box-size: var(--text-height);
	--check-icon-size: calc(var(--text-height) - 6px);

	width: var(--check-box-control-size, var(--control-height));
	height: var(--check-box-control-size, var(--control-height));
	flex-shrink: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.input {
	width: var(--check-box-size);
	height: var(--check-box-size);
	border-radius: var(--radius-xs);
}

.inputIndeterminate + .icon {
	color: var(--ui-tone-fill);
}

.icon {
	width: var(--check-box-size);
	height: var(--check-box-size);

	svg {
		display: block;
		width: var(--check-icon-size);
		height: var(--check-icon-size);
		stroke: currentColor;
	}
}
